* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body{
  background-image: url("C:/Users/prath/OneDrive/Desktop/Chat-application/Firebase-reactchat/public/bg.jpg"); /* Ensure the image path is correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.container{
  width: 90vw;
  height: 90vh;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

@supports (backdrop-filter: blur(19px)) {
  .container {
    background-color: rgba(37, 38, 95, 0.451); /* Slight transparency to show background effect */
    backdrop-filter: blur(19px) saturate(180%);
  }
}

/* Fallback for unsupported browsers (without backdrop-filter) */
@supports not (backdrop-filter: blur(19px)) {
  .container {
    background-color: rgb(33, 4, 61);
  }
}
.container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}


/* Global Scrollbar Styling */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Edge */
  }

  &:hover {
      &::-webkit-scrollbar {
          display: block;
          width: 8px; /* Set scrollbar width */
      }
      &::-webkit-scrollbar-thumb {
          background-color: black; /* Scrollbar thumb color */
          border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
          background-color: black; /* Scrollbar track color */
      }
  }
}
