.addUser{
    height: max-content;
    width: max-content;
    padding: 30px;
    background-color:rgba(17,25,40,.8);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity:1;

    .cancelIcon{
        display: flex;
        justify-content: flex-end;
        
        .icon{
            width: 20px; /* Set desired width */
            height: 20px; /* Set desired height */
            transform: rotate(45deg); 
            cursor: pointer;
        }
    }
    form{
        margin-top: 20px;
        display: flex ;
        gap: 20px;


        input{
            padding: 20px;
            border-radius: 10px;
            border: none;
            outline: none;

        }
        button{
            padding: 20px;
            border-radius: 10px;
            background-color: #1a0ec6ac;
            color: white;
            cursor: pointer;

        }

    }
    .user-list {
        max-height: 300px; /* Adjust this height as needed */
        overflow-y: auto;
        margin-top: 20px;
      }
    .user{
        margin-top: 50px;
       
        display: flex;
        align-items: center;
        justify-content: space-between;


        .detail{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;

            }
        }
        button{
            padding: 10px;
            border-radius: 10px;
            background-color: #1a0ec69f;
            color: white;
            cursor: pointer;

        }
    }
    .profile-pic-container {
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      
      .profile-pic-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid transparent;
        transition: border-color 0.3s;
      }
      
      .profile-pic-container.online img {
        border: 2px solid white;
      }
      
      .status-indicator {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 12px;
        height: 12px;
        background-color: red;
        border: 2px solid white;
        border-radius: 50%;
      }
      
      
      
}

